.container{
    margin-top: 200px;
    text-align: center;


}
.container span{
background:#6c757d;
color: white;
    padding: 1px;
}
.mainInfo a{
    color: red;
}
.contacts{
    margin-top: 100px;
    display: block;
    text-align: left;
    margin-left: 34%;   
}
.contacts a{
    text-decoration: none;
}
